@charset "UTF-8";
/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  border: none;
  text-decoration: none; }

*:focus {
  outline: none; }

ul, h1, h2, h3, h4 {
  margin: 0px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.d-button {
  background: #57A3C2;
  border-radius: 10px;
  color: white;
  padding: 8px 18px;
  transition: .3s; }
  .d-button:hover {
    background: #F8C934;
    color: white; }

.t-button {
  border-radius: 10px;
  color: white;
  padding: 7px 18px;
  border: 1px solid #FFFFFF;
  transition: .3s; }
  .t-button:hover {
    background: #F8C934;
    color: white; }

.c-button {
  background: #F8C934;
  color: white;
  padding: 7px 18px;
  transition: .3s;
  border-radius: 10px; }

header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  z-index: 999; }
  header .header-left ul, header .header-right ul {
    display: flex;
    align-items: center; }
    header .header-left ul li, header .header-right ul li {
      display: flex;
      align-items: center; }
      header .header-left ul li a, header .header-right ul li a {
        color: white;
        padding: 8px 18px; }

.main-header {
  background: transparent !important; }

.main-title {
  font-size: 32px;
  color: #2C3E50;
  text-align: center;
  padding: 30px 20px; }

footer {
  background: #5A5A5A; }
  footer .footer-title {
    font-size: 22px;
    padding-bottom: 20px;
    color: white; }
  footer .f-container {
    width: 80%;
    padding: 45px 15px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between; }
    footer .f-container .l-footer, footer .f-container .c-footer, footer .f-container .r-footer {
      max-width: 30%; }
      footer .f-container .l-footer .adress, footer .f-container .c-footer .adress, footer .f-container .r-footer .adress {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px; }
    footer .f-container a {
      color: white; }
    footer .f-container li {
      list-style-type: disc;
      padding-bottom: 10px; }
  footer .social-links {
    text-align: center;
    margin-top: 20px; }
    footer .social-links ul {
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .social-links ul li a {
        padding: 10px; }
  footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    color: white; }
    footer .footer-bottom a {
      color: white; }

@font-face {
  font-family: 'Conv_bpg-web-001-caps-webfont';
  src: url("../../fonts/bpg-web-001-caps-webfont.eot");
  src: local("☺"), url("../../fonts/bpg-web-001-caps-webfont.woff") format("woff"), url("fonts/bpg-web-001-caps-webfont.ttf") format("truetype"), url("fonts/bpg-web-001-caps-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.main-container .bg {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0; }
.main-container .banner-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center; }
  .main-container .banner-text .banner-title {
    font-size: 42px;
    color: white; }
  .main-container .banner-text .banner-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px; }
    .main-container .banner-text .banner-buttons a {
      margin: 5px;
      display: flex;
      align-items: center; }
.main-container .slider-container .main-img {
  height: 100vh;
  width: 100%; }
.main-container .main-text {
  width: 80%;
  margin: 0 auto 30px; }
.main-container .category-container {
  width: 100%;
  padding: 60px 10%;
  background: #F2F2F2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .main-container .category-container .category {
    position: relative;
    width: calc(25% - 9px);
    transition: 0.5s;
    margin-top: 10px; }
    .main-container .category-container .category a .cat-img {
      width: 100%; }
    .main-container .category-container .category span {
      position: absolute;
      bottom: 10px;
      color: white;
      text-align: center;
      width: 100%;
      pointer-events: none; }
    .main-container .category-container .category .category-info {
      display: none;
      width: 100%;
      height: 100%;
      background: #57A3C2;
      z-index: 1000;
      position: absolute;
      top: 0;
      border-radius: 10px;
      transition: 0.5s; }
      .main-container .category-container .category .category-info .h-title {
        top: 10px;
        padding: 5px; }
      .main-container .category-container .category .category-info .h-text {
        top: 50px;
        max-height: 150px;
        overflow: hidden;
        padding: 5px; }
      .main-container .category-container .category .category-info .h-courses {
        bottom: 70px;
        padding: 5px; }
      .main-container .category-container .category .category-info .h-more {
        position: unset; }
      .main-container .category-container .category .category-info .m-button a {
        background: #F2F2F2;
        border-radius: 10px;
        padding: 8px 10px;
        display: flex;
        width: 60%;
        position: absolute;
        bottom: 20px;
        align-items: center;
        left: 20%; }
        .main-container .category-container .category .category-info .m-button a span {
          color: #57A3C2; }
    .main-container .category-container .category:hover .category-info {
      display: block;
      transition: 0.3s; }
.main-container .course-section {
  width: 100%;
  background: #F2F2F2;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-between;
  padding: 30px 10%; }
  .main-container .course-section .main-img {
    width: 50%; }
    .main-container .course-section .main-img img {
      width: 100%; }
  .main-container .course-section .describe {
    width: 50%;
    padding: 30px;
    background: white; }
    .main-container .course-section .describe span {
      color: #2980B9; }
    .main-container .course-section .describe .course-button {
      text-align: center;
      padding-top: 20px; }
      .main-container .course-section .describe .course-button a {
        padding: 10px; }
        .main-container .course-section .describe .course-button a span {
          color: #2C3E50; }
.main-container .banner {
  background: #57A3C2;
  padding: 40px 30px 50px;
  text-align: center; }
  .main-container .banner .main-title {
    color: white;
    width: 40%;
    margin: 0 auto; }
.main-container .reviews {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0px auto 35px; }
  .main-container .reviews .r-name {
    text-align: center;
    padding-top: 10px; }
  .main-container .reviews img {
    padding: 15px; }

/*# sourceMappingURL=main.css.map */
