@charset "UTF-8";
/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  border: none;
  text-decoration: none; }

*:focus {
  outline: none; }

ul, h1, h2, h3, h4 {
  margin: 0px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

/* mobile-menu-icon  */
#nav-icon1 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none; }

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 18px; }

#nav-icon1 span:nth-child(3) {
  top: 36px; }

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.d-button {
  background: #57A3C2;
  border-radius: 10px;
  color: white;
  padding: 8px 18px;
  transition: .3s; }
  .d-button:hover {
    background: #F8C934;
    color: white; }

.bg-container {
  background-color: #F2F2F2; }

.pagination {
  justify-content: center;
  padding: 20px; }
  .pagination .active {
    border-bottom: 2px solid #2980B9;
    color: #2980B9; }
  .pagination a {
    color: #2C3E50;
    background: transparent;
    font-size: 16px;
    padding: 8px 16px 5px;
    font-family: 'BPG WEB 001';
    transition: .3s; }
    .pagination a:hover, .pagination a .active {
      border-bottom: 2px solid #2980B9;
      color: #2980B9; }

.t-button {
  border-radius: 10px;
  color: white;
  padding: 7px 18px;
  border: 1px solid #FFFFFF;
  transition: .3s; }
  .t-button:hover {
    background: #F8C934;
    color: white; }

.c-button {
  background: #F8C934;
  color: white;
  padding: 15px 18px;
  transition: .3s;
  border-radius: 6px;
  font-family: 'Conv_bpg-web-001-caps-webfont'; }

.slider-bg {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  z-index: 79; }

.center {
  text-align: center; }

.rotate {
  transform: rotate(180deg);
  transition: .3s; }

.registration, .common-form {
  display: none;
  font-family: 'Conv_bpg_arial_2009';
  border-radius: 10px;
  margin-top: 100px;
  width: 40%;
  background-color: #FFFFFF;
  color: #2C3E50;
  position: absolute;
  top: 20%;
  left: 30%;
  padding: 30px 5%;
  z-index: 900;
  box-shadow: 0px 0px 4px 5px; }
  .registration button, .common-form button {
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    color: white;
    background: #57A3C2;
    outline: navajowhite;
    margin: 10px auto;
    cursor: pointer; }
  .registration .transparent, .common-form .transparent {
    color: #57A3C2 !important;
    background: #FFFFFF;
    border: 1px solid #57A3C2; }
  .registration .close, .common-form .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
  .registration .form-checkbox a, .common-form .form-checkbox a {
    color: #2C3E50;
    text-decoration: underline; }
  .registration input::-webkit-outer-spin-button,
  .registration input::-webkit-inner-spin-button, .common-form input::-webkit-outer-spin-button,
  .common-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .registration .rotate, .common-form .rotate {
    transform: rotate(180deg); }
  .registration .form-select, .common-form .form-select {
    position: relative; }
    .registration .form-select select, .common-form .form-select select {
      text-transform: none;
      padding: 10px;
      border: 1px solid #BBC8D3;
      width: 100%;
      color: #777;
      -webkit-appearance: none;
      -moz-appearance: none;
      margin-bottom: 15px; }
    .registration .form-select .dropdown-img, .common-form .form-select .dropdown-img {
      position: absolute;
      top: 12px;
      right: 15px; }
      .registration .form-select .dropdown-img img, .common-form .form-select .dropdown-img img {
        transition: .3s ease-in-out; }
  .registration .label-before, .registration .field input:valid + label::before, .common-form .field .registration input:valid + label::before, .registration .field input:focus + label::before, .common-form .field .registration input:focus + label::before, .common-form .label-before, .registration .field .common-form input:valid + label::before, .common-form .field input:valid + label::before, .registration .field .common-form input:focus + label::before, .common-form .field input:focus + label::before {
    line-height: 20px;
    font-size: 12px;
    top: -10px;
    background: #fff;
    padding: 0 6px;
    left: 9px; }
  .registration .field, .common-form .field {
    position: relative;
    height: 42px;
    margin-bottom: 15px; }
    .registration .field label::before, .common-form .field label::before {
      content: attr(title);
      position: absolute;
      top: 2px;
      left: 15px;
      line-height: 40px;
      font-size: 14px;
      color: #777;
      transition: 300ms all; }
    .registration .field input, .common-form .field input {
      width: 100%;
      line-height: 40px;
      padding: 0 15px;
      box-sizing: border-box;
      font-size: 14px;
      color: #2C3E50;
      border: 1px solid #BBC8D3;
      border-radius: 3px; }
      .registration .field input:valid + label::before, .common-form .field input:valid + label::before {
        content: attr(data-title); }
  .registration .pas-restore, .common-form .pas-restore {
    margin-bottom: 10px; }
    .registration .pas-restore a, .common-form .pas-restore a {
      color: #2980B9; }
  .registration .title, .common-form .title {
    font-size: 20px;
    text-align: center;
    padding: 10px 0 20px;
    font-family: 'Conv_bpg-web-001-caps-webfont'; }
  .registration .d-none, .common-form .d-none {
    padding-bottom: 10px; }

.password-restore {
  display: none; }

header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  z-index: 200;
  font-family: 'Conv_bpg-web-001-caps-webfont'; }
  header .header-left ul, header .header-right ul {
    display: flex;
    align-items: center; }
    header .header-left ul li a, header .header-right ul li a {
      color: white;
      padding: 8px 18px;
      display: flex;
      align-items: center; }
      header .header-left ul li a span, header .header-right ul li a span {
        margin-top: 3px; }

.reg-button {
  margin-right: 10px;
  border-radius: 10px;
  transition: .3s;
  font-family: 'Conv_bpg-web-001-caps-webfont'; }
  .reg-button:hover {
    background: #F8C934;
    border: unset; }

.main-header {
  position: unset;
  box-shadow: 0px -4px 15px #6e6e6e; }
  .main-header .header-left ul li a, .main-header header .header-right ul li a {
    color: #2C3E50;
    padding: 8px 18px;
    display: flex;
    align-items: center;
    opacity: .6; }
  .main-header .active a {
    opacity: 1 !important; }
  .main-header .reg-button {
    color: white;
    border: 1px solid #57A3C2;
    border-radius: 11px;
    margin-right: 10px;
    transition: .3s; }
    .main-header .reg-button a {
      color: #57A3C2; }
      .main-header .reg-button a:hover {
        color: white !important; }
    .main-header .reg-button:hover {
      background: #F8C934;
      border: 1px solid transparent; }

.avatar-upload {
  position: relative; }
  .avatar-upload .avatar-edit {
    position: absolute;
    z-index: 1;
    bottom: 80px; }
    .avatar-upload .avatar-edit input {
      display: none; }
      .avatar-upload .avatar-edit input + label {
        margin-bottom: 0;
        border-radius: 10px;
        background: #57A3C2;
        border: 1px solid transparent;
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out;
        color: white;
        padding: 10px 40px;
        font-family: 'Conv_bpg_arial_2009'; }
        .avatar-upload .avatar-edit input + label:after {
          content: "";
          color: #757575;
          position: absolute;
          top: 10px;
          left: 0;
          right: 0;
          text-align: center;
          margin: auto; }
  .avatar-upload .avatar-preview {
    width: 130px;
    height: 130px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); }
    .avatar-upload .avatar-preview > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }

.main-title {
  font-size: 32px;
  color: #2C3E50;
  text-align: center;
  padding: 30px 20px;
  font-family: 'Conv_bpg-web-001-caps-webfont'; }

.common-title {
  font-size: 28px;
  padding: 10px 0px;
  color: #2C3E50;
  font-family: 'Conv_bpg-web-001-caps-webfont'; }

.banner-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 99;
  font-family: 'Conv_bpg-web-001-caps-webfont'; }
  .banner-text .banner-title {
    font-size: 42px;
    color: white; }
  .banner-text .banner-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px; }
    .banner-text .banner-buttons a {
      margin: 5px;
      display: flex;
      align-items: center; }

.video-container, .search-video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .video-container .video-box, .search-video-container .video-box {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    margin: 5px; }
    .video-container .video-box video, .search-video-container .video-box video {
      width: 100%; }
    .video-container .video-box .video-title, .search-video-container .video-box .video-title {
      font-size: 20px;
      padding: 8px 0; }
      .video-container .video-box .video-title a, .search-video-container .video-box .video-title a {
        color: #2C3E50;
        font-family: 'Conv_bpg-web-001-caps-webfont';
        padding: 7px 10px 3px;
        transition: .3s; }
        .video-container .video-box .video-title a:hover, .search-video-container .video-box .video-title a:hover {
          color: #57A3C2; }
    .video-container .video-box .video-tags, .search-video-container .video-box .video-tags {
      line-height: 30px;
      padding: 0 10px 15px; }
      .video-container .video-box .video-tags a, .search-video-container .video-box .video-tags a {
        color: #2C3E50;
        border: 1px solid #2C3E503D;
        border-radius: 5px;
        font-size: 14px;
        padding: 3px;
        transition: .3s; }
        .video-container .video-box .video-tags a:hover, .search-video-container .video-box .video-tags a:hover {
          border: 1px solid #2C3E50; }

.search-video-container {
  justify-content: unset; }
  .search-video-container .video-box {
    width: 32%; }

.banner {
  background: #57A3C2;
  padding: 40px 30px 50px;
  text-align: center; }
  .banner .main-title {
    color: white;
    margin: 0 auto;
    font-family: 'Conv_bpg-web-001-caps-webfont'; }

.def-text {
  font-family: 'Conv_bpg_arial_2009';
  color: #2C3E50;
  font-size: 16px; }

.slick-dots {
  bottom: 30px;
  z-index: 111; }
  .slick-dots li button:before {
    color: white;
    font-size: 23px;
    opacity: 1; }

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
  font-size: 22px;
  border: 1px solid white;
  border-radius: 50%; }

footer {
  background: #5A5A5A;
  font-family: 'Conv_bpg_arial_2009'; }
  footer .footer-title {
    font-size: 22px;
    padding-bottom: 20px;
    color: white;
    font-family: 'Conv_bpg-web-001-caps-webfont'; }
  footer .f-container {
    width: 80%;
    padding: 45px 0;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between; }
    footer .f-container .l-footer, footer .f-container .c-footer, footer .f-container .r-footer {
      max-width: 30%; }
      footer .f-container .l-footer .adress, footer .f-container .c-footer .adress, footer .f-container .r-footer .adress {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px; }
    footer .f-container .l-footer div:last-child {
      margin-top: 20px; }
    footer .f-container .r-footer > div:last-child {
      border-left: 1px solid white;
      padding-left: 30px; }
    footer .f-container a {
      color: white; }
    footer .f-container li {
      list-style-type: disc;
      padding-bottom: 10px; }
  footer .social-links {
    text-align: center;
    margin-top: 20px; }
    footer .social-links ul {
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .social-links ul li a {
        padding: 15px; }
  footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    color: white; }
    footer .footer-bottom a {
      color: white; }

@font-face {
  font-family: 'Conv_bpg-web-001-caps-webfont';
  src: url("../fonts/bpg-web-001-caps-webfont.eot");
  src: local("☺"), url("../fonts/bpg-web-001-caps-webfont.woff") format("woff"), url("../fonts/bpg-web-001-caps-webfont.ttf") format("truetype"), url("../fonts/bpg-web-001-caps-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'BPG WEB 001';
  src: url("../fonts/bpg-web-001-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bpg-web-001-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-web-001-webfont.woff2") format("woff2"), url("../fonts/bpg-web-001-webfont.woff") format("woff"), url("../fonts/bpg-web-001-webfont.ttf") format("truetype"), url("../fonts/bpg-web-001-webfont.svg#bpg_web_001regular") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Conv_bpg_arial_2009';
  src: url("../fonts/bpg_arial_2009.eot");
  src: local("☺"), url("../fonts/bpg_arial_2009.woff") format("woff"), url("../fonts/bpg_arial_2009.ttf") format("truetype"), url("../fonts/bpg_arial_2009.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.main-container .banner-text {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  z-index: 99;
  font-family: 'Conv_bpg-web-001-caps-webfont'; }
  .main-container .banner-text .banner-title {
    font-size: 42px;
    color: white; }
  .main-container .banner-text .banner-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px; }
    .main-container .banner-text .banner-buttons a {
      margin: 5px;
      display: flex;
      align-items: center; }
.main-container .slider-container .main-img {
  height: 100vh;
  width: 100%; }
.main-container .main-text {
  width: 80%;
  margin: 0 auto 30px;
  color: #2C3E50; }
  .main-container .main-text p {
    font-family: 'Conv_bpg_arial_2009'; }
.main-container .category-container, .main-container .category-slider {
  width: 100%;
  background: #F2F2F2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto; }
  .main-container .category-container .category, .main-container .category-slider .category {
    position: relative;
    width: 25%;
    transition: 0.5s;
    font-family: 'Conv_bpg-web-001-caps-webfont'; }
    .main-container .category-container .category a .cat-img, .main-container .category-slider .category a .cat-img {
      width: 100%;
      height: 460px;
      object-fit: cover;
      filter: brightness(70%); }
    .main-container .category-container .category .category-title, .main-container .category-slider .category .category-title {
      position: absolute;
      bottom: -20px;
      color: white;
      width: 100%;
      pointer-events: none;
      display: flex;
      align-items: center;
      word-break: break-word; }
      .main-container .category-container .category .category-title .bold, .main-container .category-slider .category .category-title .bold {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        font-size: 70px;
        padding: 0 20% 40px 10px; }
    .main-container .category-container .category .category-info, .main-container .category-slider .category .category-info {
      width: 100%;
      height: 100%;
      background: #57A3C2;
      z-index: 1000;
      position: absolute;
      top: 0;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.3s, opacity 0.3s linear;
      text-align: center; }
      .main-container .category-container .category .category-info .h-title, .main-container .category-slider .category .category-info .h-title {
        top: 10px;
        color: white;
        border-bottom: 1px solid white;
        width: 70%;
        margin: 50px auto;
        text-align: center;
        padding: 20px 10px; }
      .main-container .category-container .category .category-info .h-courses, .main-container .category-slider .category .category-info .h-courses {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin: 25px auto; }
        .main-container .category-container .category .category-info .h-courses img, .main-container .category-slider .category .category-info .h-courses img {
          width: 25px;
          margin-right: 10px; }
      .main-container .category-container .category .category-info .h-more, .main-container .category-slider .category .category-info .h-more {
        position: unset; }
      .main-container .category-container .category .category-info .m-button a, .main-container .category-slider .category .category-info .m-button a {
        background: #F2F2F2;
        border-radius: 7px;
        padding: 18px 10px;
        display: flex;
        width: 60%;
        position: absolute;
        bottom: 30px;
        align-items: center;
        left: 20%;
        justify-content: space-around; }
        .main-container .category-container .category .category-info .m-button a img, .main-container .category-slider .category .category-info .m-button a img {
          width: 30px;
          padding-bottom: 3px; }
        .main-container .category-container .category .category-info .m-button a span, .main-container .category-slider .category .category-info .m-button a span {
          color: #57A3C2; }
    .main-container .category-container .category:hover .category-info, .main-container .category-slider .category:hover .category-info {
      visibility: visible;
      opacity: 1; }
.main-container .category-slider {
  display: none; }
.main-container .course-section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 10%; }
  .main-container .course-section .main-img {
    width: 50%; }
    .main-container .course-section .main-img img {
      width: 100%; }
  .main-container .course-section .describe {
    width: 50%;
    padding: 20px;
    background: white; }
    .main-container .course-section .describe .describe-text {
      max-height: 285px;
      overflow: hidden; }
    .main-container .course-section .describe .main-title {
      font-size: 28px;
      text-align: left;
      padding: 10px 0px;
      color: #2C3E50; }
    .main-container .course-section .describe p {
      font-family: 'Conv_bpg_arial_2009';
      color: #2C3E50; }
    .main-container .course-section .describe span {
      color: #2980B9;
      font-family: 'BPG WEB 001'; }
    .main-container .course-section .describe .course-button {
      text-align: center;
      padding-top: 20px; }
      .main-container .course-section .describe .course-button a {
        padding: 10px; }
        .main-container .course-section .describe .course-button a span {
          color: #2C3E50;
          font-family: 'Conv_bpg-web-001-caps-webfont'; }
        .main-container .course-section .describe .course-button a img {
          padding-left: 7px; }
.main-container .video-section {
  padding: 20px 10%;
  background: #F2F2F2; }
  .main-container .video-section .slick-next {
    right: 0;
    top: -6%;
    background: transparent; }
    .main-container .video-section .slick-next:before {
      content: url("../images/arr-next.png "); }
  .main-container .video-section .slick-prev {
    right: 50px;
    top: -6%;
    background: transparent;
    left: unset; }
    .main-container .video-section .slick-prev:before {
      content: url("../images/arr-prev.png "); }
.main-container .banner {
  background: #57A3C2;
  padding: 40px 30px 50px;
  text-align: center; }
  .main-container .banner .main-title {
    color: white;
    margin: 0 auto;
    font-family: 'Conv_bpg-web-001-caps-webfont'; }
.main-container .review-slider {
  width: 100%;
  padding: 0 15%; }
  .main-container .review-slider .slick-next {
    right: 10%;
    top: 45%;
    background: transparent; }
    .main-container .review-slider .slick-next:before {
      content: url("../images/arr-next.png "); }
  .main-container .review-slider .slick-prev {
    left: 10%;
    top: 45%;
    background: transparent; }
    .main-container .review-slider .slick-prev:before {
      content: url("../images/arr-prev.png "); }
  .main-container .review-slider .review-slide {
    display: flex;
    align-items: center;
    margin: 0px auto 100px; }
    .main-container .review-slider .review-slide p {
      font-family: 'Conv_bpg_arial_2009';
      max-height: 145px;
      overflow: hidden; }
    .main-container .review-slider .review-slide span {
      font-family: 'Conv_bpg-web-001-caps-webfont'; }
    .main-container .review-slider .review-slide .r-name {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center; }
    .main-container .review-slider .review-slide img {
      padding: 15px; }

.user-page {
  background-color: #F2F2F2;
  padding-bottom: 50px; }
  .user-page .user-container {
    width: 80%;
    margin: 0 auto;
    background: #ffffff;
    display: flex;
    padding: 30px; }
    .user-page .user-container .avatar-upload {
      width: 40%;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #BBC8D3;
      padding: 40px 0 140px;
      max-height: 340px; }
    .user-page .user-container .user-form {
      width: 60%;
      display: block;
      box-shadow: unset;
      position: unset;
      margin-top: unset;
      padding: 10px;
      border-radius: unset; }
      .user-page .user-container .user-form .d-flex {
        justify-content: space-between; }
        .user-page .user-container .user-form .d-flex .field {
          width: 49%;
          margin-bottom: 20px; }
        .user-page .user-container .user-form .d-flex .form-select {
          width: 49%; }
          .user-page .user-container .user-form .d-flex .form-select select {
            margin-bottom: 20px; }
          .user-page .user-container .user-form .d-flex .form-select span {
            position: absolute;
            line-height: 20px;
            font-size: 12px;
            top: -10px;
            background: #fff;
            padding: 0 6px;
            left: 9px;
            color: #777; }
      .user-page .user-container .user-form .d-border {
        border-top: 1px solid #BBC8D3;
        padding-top: 20px; }
      .user-page .user-container .user-form button {
        background-color: #DBE3EB;
        color: #2C3E50;
        margin: 0 auto 20px; }
      .user-page .user-container .user-form .change-button {
        width: 50%;
        float: right;
        color: white;
        background: #57A3C2;
        transition: .3s;
        font-family: 'Conv_bpg-web-001-caps-webfont'; }
        .user-page .user-container .user-form .change-button:hover {
          background: #F8C934;
          color: white; }

.about-container {
  width: 80%;
  margin: 0 auto; }
  .about-container .title .main-title {
    text-align: left;
    padding-left: unset; }
  .about-container .about-us {
    display: flex; }
    .about-container .about-us .def-text {
      width: 50%;
      padding-right: 20px;
      max-height: 330px;
      overflow: hidden; }
    .about-container .about-us .about-slider {
      width: 50%;
      max-height: 350px;
      overflow: hidden; }
      .about-container .about-us .about-slider .about-slide img {
        width: 100%; }
      .about-container .about-us .about-slider .slick-prev {
        left: 10px;
        z-index: 111;
        background: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 10px 3px 10px 0; }
      .about-container .about-us .about-slider .slick-next {
        right: 10px;
        z-index: 111;
        background: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 10px 0 10px 4px; }
      .about-container .about-us .about-slider .slick-prev:before {
        content: url(../images/arr-prev.png); }
      .about-container .about-us .about-slider .slick-next:before {
        content: url(../images/arr-next.png); }
  .about-container .donor-slider .donor-slide {
    border: 1px solid #E6E6E6;
    min-height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; }
  .about-container .donor-slider .slick-prev {
    left: -10px;
    z-index: 111;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px 3px 10px 0;
    box-shadow: 0px 0px 12px #00000029; }
  .about-container .donor-slider .slick-next {
    right: -10px;
    z-index: 111;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px 0 10px 4px;
    box-shadow: 0px 0px 12px #00000029; }
  .about-container .donor-slider .slick-prev:before {
    content: url(../images/arr-prev.png); }
  .about-container .donor-slider .slick-next:before {
    content: url(../images/arr-next.png); }
  .about-container .dropdown-active {
    color: #2980B9; }
    .about-container .dropdown-active svg {
      fill: #2980B9; }
  .about-container .dropdown {
    width: 85%;
    margin: 0 auto; }
    .about-container .dropdown .dropdown-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 14px 0 8px;
      transition: .3s;
      margin: 10px 0; }
      .about-container .dropdown .dropdown-box h2 {
        font-family: 'Conv_bpg-web-001-caps-webfont';
        font-size: 16px; }
      .about-container .dropdown .dropdown-box svg {
        transition: .3s; }
      .about-container .dropdown .dropdown-box:hover {
        color: #2980B9; }
        .about-container .dropdown .dropdown-box:hover svg {
          fill: #2980B9; }
    .about-container .dropdown .dropdown-text {
      display: none;
      padding: 15px 25px;
      font-family: 'Conv_bpg_arial_2009'; }

.about-banner {
  background: #57A3C2;
  padding: 10px 30px 30px;
  text-align: center;
  margin: 30px auto; }
  .about-banner .text {
    width: 84%;
    margin: 0 auto;
    text-align: left;
    color: white;
    font-family: 'Conv_bpg_arial_2009'; }

.map-container {
  height: 60vh;
  margin-top: 50px; }
  .map-container .gmap_iframe {
    width: 100%;
    height: 60vh; }

.course-banner {
  width: 100%;
  height: 80vh;
  overflow: hidden; }
  .course-banner .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .course-banner .slider-bg {
    height: 80vh;
    min-height: unset; }
  .course-banner .blue-bg {
    background: #57A3C2;
    z-index: 0; }
  .course-banner .search-container {
    width: 50%;
    margin: 20px auto 0;
    background: white;
    border-radius: 10px;
    padding: 7px; }
    .course-banner .search-container .search-form {
      font-family: 'Conv_bpg_arial_2009';
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative; }
      .course-banner .search-container .search-form .filter {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px 20px; }
        .course-banner .search-container .search-form .filter span {
          padding-left: 5px; }
      .course-banner .search-container .search-form .search-input {
        width: 70%;
        display: flex;
        justify-content: space-between; }
        .course-banner .search-container .search-form .search-input input {
          color: #2C3E50;
          padding: 5px 15px;
          border-left: 1px solid #E2E2E2;
          width: 70%; }
        .course-banner .search-container .search-form .search-input button {
          color: white;
          background: #57A3C2;
          outline: none;
          border-radius: 7px;
          padding: 10px 30px;
          cursor: pointer; }
      .course-banner .search-container .search-form .filter-box {
        position: absolute;
        top: 60px;
        background: white;
        border-radius: 7px;
        left: -7px;
        padding: 20px;
        text-align: left;
        display: none; }
        .course-banner .search-container .search-form .filter-box .filter-top {
          border-bottom: 1px solid #E2E2E2; }
        .course-banner .search-container .search-form .filter-box .filter-bottom {
          margin-top: 10px; }
        .course-banner .search-container .search-form .filter-box:after {
          content: "";
          width: 15px;
          height: 15px;
          background: white;
          z-index: 222222;
          font-size: 10px;
          position: absolute;
          top: -6px;
          left: 48%;
          transform: rotate(45deg); }
  .course-banner .video-search .search-input {
    width: 100% !important; }
    .course-banner .video-search .search-input input {
      border-left: unset !important; }

.course-container {
  padding: 30px 0;
  width: 80%;
  margin: 0 auto;
  position: relative; }
  .course-container .category-text {
    color: #2C3E50;
    font-family: 'BPG WEB 001';
    width: 80%;
    margin: 30px auto;
    position: relative; }
    .course-container .category-text .cat-number {
      color: white;
      font-size: 140px;
      position: absolute;
      left: -150px;
      bottom: 40px;
      text-shadow: 1px 2px 15px #00000077;
      z-index: 999; }
  .course-container .search-video-section {
    padding: 50px 0 30px; }
  .course-container .category-list {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0; }
    .course-container .category-list .selected-cat {
      border: 1px solid #D5D5D5;
      border-radius: 9px;
      display: flex;
      align-items: center;
      margin-left: 10px;
      font-family: 'Conv_bpg_arial_2009';
      color: #2C3E50; }
      .course-container .category-list .selected-cat span {
        padding: 6px 8px;
        border-right: 1px solid #D5D5D5; }
      .course-container .category-list .selected-cat .close {
        width: 15px;
        height: 15px;
        margin: 0 10px;
        cursor: pointer; }
  .course-container .course-box {
    width: 49%;
    margin: 15px auto;
    border-radius: 15px;
    overflow: hidden;
    background: white; }
    .course-container .course-box .course-img {
      width: 100%;
      height: 240px;
      object-fit: cover; }
    .course-container .course-box .course-title {
      color: #2C3E50;
      font-size: 18px;
      font-family: 'Conv_bpg-web-001-caps-webfont';
      padding: 15px 20px 5px;
      line-height: 25px; }
      .course-container .course-box .course-title a {
        color: #2C3E50; }
    .course-container .course-box .course-text {
      display: flex;
      flex-direction: column;
      font-family: 'BPG WEB 001'; }
      .course-container .course-box .course-text .cert-link {
        color: #9070B8;
        padding: 5px 20px; }
        .course-container .course-box .course-text .cert-link a {
          color: #9070B8; }
      .course-container .course-box .course-text .span-bottom {
        color: #2C3E50;
        padding: 5px 20px 40px; }
  .course-container .d-flex {
    flex-wrap: wrap; }
  .course-container .course-page-top {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -280px;
    width: 100%; }
    .course-container .course-page-top .title {
      font-family: 'Conv_bpg-web-001-caps-webfont';
      font-size: 24px;
      color: white; }
    .course-container .course-page-top .cert-link {
      padding: 16px; }
      .course-container .course-page-top .cert-link a {
        color: #9070B8;
        font-family: 'BPG WEB 001'; }
    .course-container .course-page-top .button {
      font-family: 'BPG WEB 001';
      display: flex;
      align-items: center; }
      .course-container .course-page-top .button a {
        color: white;
        background: #57A3C2;
        padding: 30px 15px;
        border-radius: 5px;
        transition: .3s; }
        .course-container .course-page-top .button a:hover {
          background: #F8C934;
          color: white; }
  .course-container .nav-tabs {
    width: 85%;
    margin: 20px auto;
    border-bottom: 1px solid #E2E2E2; }
    .course-container .nav-tabs .nav-item .nav-link {
      font-size: 22px;
      color: #2C3E50;
      font-family: 'Conv_bpg-web-001-caps-webfont';
      background: transparent;
      border: unset;
      opacity: .7; }
    .course-container .nav-tabs .nav-item .active {
      border-bottom: 4px solid #2C3E50;
      opacity: 1; }
  .course-container .tab-content {
    width: 85%;
    margin: 0 auto;
    color: #2C3E50;
    font-family: 'Conv_bpg_arial_2009'; }
    .course-container .tab-content .tab-pane {
      padding: 0 60px; }
      .course-container .tab-content .tab-pane p {
        overflow: hidden;
        position: relative;
        transition: max-height 1s linear; }
    .course-container .tab-content .tab-right .tab-section {
      padding: 30px 60px;
      background: white;
      border-radius: 5px;
      box-shadow: 0px 0px 6px 5px #00000009;
      margin-bottom: 30px; }
    .course-container .tab-content .tab-right .title {
      color: #2C3E50;
      font-size: 18px;
      font-family: 'Conv_bpg-web-001-caps-webfont';
      transition: .3s; }
    .course-container .tab-content .tab-right .tab-section:hover .title {
      color: #3498DB; }
    .course-container .tab-content .tab-right .tab-text {
      margin: 10px 0; }
    .course-container .tab-content .tab-right .components a {
      display: flex;
      align-items: center;
      padding: 10px 0;
      color: #2C3E50; }
      .course-container .tab-content .tab-right .components a img {
        padding-right: 10px; }
    .course-container .tab-content .tab-right .t-section:last-child {
      border-bottom: none; }
    .course-container .tab-content .tab-right .t-section {
      display: flex;
      padding: 30px 0;
      border-bottom: 1px solid #E2E2E2; }
      .course-container .tab-content .tab-right .t-section img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        margin-right: 15px; }
      .course-container .tab-content .tab-right .t-section span {
        font-family: 'BPG WEB 001';
        color: #2C3E50; }
      .course-container .tab-content .tab-right .t-section .t-name {
        margin: 30px 0 10px; }
        .course-container .tab-content .tab-right .t-section .t-name h2 {
          font-family: 'Conv_bpg-web-001-caps-webfont';
          color: #2C3E50; }
    .course-container .tab-content .p-none {
      padding: 0; }
    .course-container .tab-content .hide {
      max-height: 1490px !important;
      transition: max-height 1s linear; }
  .course-container .see-more {
    font-size: 16px;
    font-family: 'Conv_bpg-web-001-caps-webfont';
    margin: 15px auto;
    text-align: center; }
    .course-container .see-more span {
      cursor: pointer; }
  .course-container .tag-list {
    font-size: 14px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: unset;
    margin: 30px auto; }
    .course-container .tag-list .selected-cat {
      margin: 0 10px 5px 0; }
      .course-container .tag-list .selected-cat span {
        padding: 4px 6px;
        border-right: unset; }

.course-page-container .page-top-text {
  color: white;
  font-family: 'Conv_bpg_arial_2009';
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .course-page-container .page-top-text .text {
    width: 70%;
    max-height: 75px;
    overflow: hidden; }
.course-page-container .course-page-top .b-width {
  width: 100%;
  padding: 10px; }
.course-page-container .course-page-top .button a {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: 'Conv_bpg-web-001-caps-webfont'; }
.course-page-container .cert-link {
  padding: unset !important;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center; }
  .course-page-container .cert-link .c-link {
    margin-right: 25px; }
    .course-page-container .cert-link .c-link a {
      background: white;
      padding: 15px;
      border-radius: 7px; }
  .course-page-container .cert-link .acc-link {
    display: flex;
    align-items: center; }
    .course-page-container .cert-link .acc-link a {
      color: white;
      font-family: 'Conv_bpg-web-001-caps-webfont'; }
      .course-page-container .cert-link .acc-link a img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 5px; }

.course-page-b {
  background: #F2F2F2; }
  .course-page-b .common-title {
    color: #2C3E50;
    font-size: 32px;
    font-family: 'Conv_bpg-web-001-caps-webfont';
    padding: 40px 0 20px;
    width: 80%;
    margin: 0 auto; }
  .course-page-b .course-page-slider, .course-page-b .finished-courses {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 70px; }
    .course-page-b .course-page-slider .course-box, .course-page-b .finished-courses .course-box {
      margin: 5px;
      overflow: hidden;
      border-radius: 7px;
      background-color: white; }
      .course-page-b .course-page-slider .course-box img, .course-page-b .finished-courses .course-box img {
        height: 120px; }
    .course-page-b .course-page-slider .slick-dots li button:before, .course-page-b .finished-courses .slick-dots li button:before {
      color: #6E6E6E; }
    .course-page-b .course-page-slider .slick-dots li.slick-active button:before, .course-page-b .finished-courses .slick-dots li.slick-active button:before {
      opacity: 1;
      color: #003E92;
      font-size: 22px;
      border: 1px solid #003E92;
      border-radius: 50%; }
    .course-page-b .course-page-slider .slick-prev, .course-page-b .finished-courses .slick-prev {
      left: 10px;
      z-index: 111;
      background: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 10px 3px 10px 0;
      top: -40px;
      left: unset;
      right: 60px; }
      .course-page-b .course-page-slider .slick-prev:before, .course-page-b .finished-courses .slick-prev:before {
        content: url(../images/arr-prev.png); }
    .course-page-b .course-page-slider .slick-next, .course-page-b .finished-courses .slick-next {
      right: 10px;
      z-index: 111;
      background: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 10px 0 10px 4px;
      top: -40px;
      right: 0; }
      .course-page-b .course-page-slider .slick-next:before, .course-page-b .finished-courses .slick-next:before {
        content: url(../images/arr-next.png); }
    .course-page-b .course-page-slider .course-title, .course-page-b .finished-courses .course-title {
      padding: 5px 10px; }
      .course-page-b .course-page-slider .course-title a, .course-page-b .finished-courses .course-title a {
        color: #2C3E50;
        font-size: 15px;
        font-family: 'Conv_bpg-web-001-caps-webfont'; }
    .course-page-b .course-page-slider .cert-link, .course-page-b .finished-courses .cert-link {
      background: #F4F1F8;
      padding: 5px 10px;
      width: 95%;
      margin: 30px auto; }
      .course-page-b .course-page-slider .cert-link a, .course-page-b .finished-courses .cert-link a {
        display: flex;
        align-items: center;
        color: #9070B8;
        font-family: 'Conv_bpg_arial_2009'; }
        .course-page-b .course-page-slider .cert-link a img, .course-page-b .finished-courses .cert-link a img {
          margin-right: 5px;
          height: unset; }
    .course-page-b .course-page-slider .view-course, .course-page-b .finished-courses .view-course {
      border-top: 1px solid #F2F2F2;
      padding: 20px 10px; }
      .course-page-b .course-page-slider .view-course a, .course-page-b .finished-courses .view-course a {
        color: #2C3E50;
        font-family: 'Conv_bpg-web-001-caps-webfont';
        display: flex;
        justify-content: center; }
        .course-page-b .course-page-slider .view-course a img, .course-page-b .finished-courses .view-course a img {
          width: 30px;
          height: 20px;
          margin-left: 10px;
          opacity: 0;
          transition: .3s; }
        .course-page-b .course-page-slider .view-course a:hover img, .course-page-b .finished-courses .view-course a:hover img {
          opacity: 1; }
      .course-page-b .course-page-slider .view-course:hover img, .course-page-b .finished-courses .view-course:hover img {
        opacity: 1; }

.my-course-container .title {
  color: #2C3E50;
  font-size: 32px;
  font-family: 'Conv_bpg-web-001-caps-webfont';
  text-align: center;
  border-bottom: 1px solid #2C3E50;
  padding: 45px 10px 35px; }

.title-bot {
  font-size: 28px !important;
  text-align: left;
  padding: 20px 0 0;
  color: #2C3E50;
  font-family: 'Conv_bpg-web-001-caps-webfont'; }

.finished-courses {
  display: flex;
  flex-wrap: wrap; }
  .finished-courses .course-box {
    width: 32%;
    margin: 7px !important; }
    .finished-courses .course-box .course-img {
      height: 180px !important;
      width: 100%; }
    .finished-courses .course-box .course-text .text {
      color: #2C3E50;
      font-size: 14px;
      font-family: 'BPG WEB 001';
      padding: 10px;
      height: 75px;
      overflow: hidden;
      margin-bottom: 15px; }
  .finished-courses .cert-link {
    margin: 10px auto !important;
    width: 95% !important; }

.certificate-container {
  padding-bottom: 50px; }
  .certificate-container .title {
    color: #2C3E50;
    font-size: 32px;
    font-family: 'Conv_bpg-web-001-caps-webfont';
    text-align: center;
    padding: 50px 20px; }
  .certificate-container .cert-box {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px; }
    .certificate-container .cert-box .cert-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 30px 20px;
      text-align: center; }
      .certificate-container .cert-box .cert-info .cert-title {
        color: #2C3E50;
        font-size: 22px;
        font-family: 'Conv_bpg-web-001-caps-webfont';
        padding-bottom: 20px; }
      .certificate-container .cert-box .cert-info span {
        color: #2C3E50;
        font-family: 'BPG WEB 001';
        overflow: hidden; }

.cert-page-container {
  padding-bottom: 50px; }
  .cert-page-container .cert-page-box {
    border: 1px solid #707070;
    border-radius: 7px;
    background-color: white;
    width: 50%;
    margin: 20px auto; }
    .cert-page-container .cert-page-box .bottom {
      justify-content: space-between;
      font-family: 'BPG WEB 001';
      margin: 80px 0 30px; }
      .cert-page-container .cert-page-box .bottom .cert-title {
        text-align: center;
        padding-bottom: 20px; }
      .cert-page-container .cert-page-box .bottom .b-name {
        color: #2C3E50;
        border-bottom: 1px solid #2C3E50;
        padding: 20px 0;
        width: 50%;
        margin-left: 40px; }
      .cert-page-container .cert-page-box .bottom .b-date {
        color: #2C3E50;
        border-bottom: 1px solid #2C3E50;
        padding: 20px 7px;
        margin-right: 40px; }
    .cert-page-container .cert-page-box .big-title {
      font-size: 50px;
      padding: 50px 10px 0; }
    .cert-page-container .cert-page-box .cert-info {
      width: 90%;
      margin: 0 auto; }

.share-box {
  display: flex;
  align-items: center; }
  .share-box a {
    background: white;
    padding: 11px;
    display: flex;
    align-items: center;
    border-radius: 5px; }
  .share-box .course-button {
    color: #57A3C2;
    font-family: 'BPG WEB 001';
    border-radius: 5px;
    border: 1px solid #57A3C2;
    padding: 10px 25px;
    transition: .3s;
    margin-right: 20px;
    font-family: 'Conv_bpg-web-001-caps-webfont'; }
    .share-box .course-button svg {
      margin-right: 5px;
      margin-bottom: 5px; }
    .share-box .course-button:hover {
      color: white;
      background: #57A3C2; }
      .share-box .course-button:hover #Path_412, .share-box .course-button:hover #Path_413 {
        fill: white;
        transition: .3s; }

.cert-share-box {
  justify-content: center;
  padding: 40px 0 20px; }

.test-container {
  padding: 50px 15px; }
  .test-container .title {
    text-align: center; }
    .test-container .title .main-title {
      padding: 30px 20px 15px; }
    .test-container .title .t-bottom {
      margin: 0 auto;
      width: 60%;
      text-align: center; }
      .test-container .title .t-bottom span {
        color: #2C3E50;
        font-family: 'Conv_bpg_arial_2009'; }
  .test-container .border {
    width: 70%;
    margin: 20px auto;
    border: 1px solid;
    padding: 30px 80px; }
  .test-container .test-box {
    width: 70%;
    margin: 20px auto;
    padding: 30px 80px; }
    .test-container .test-box .test-title {
      font-size: 18px;
      font-family: 'Conv_bpg-web-001-caps-webfont';
      color: #2C3E50;
      text-align: center;
      border-bottom: 1px solid #DCDCDC;
      padding: 20px; }
    .test-container .test-box .test-form {
      font-family: 'Conv_bpg_arial_2009';
      padding-top: 10px; }
      .test-container .test-box .test-form .answer {
        display: flex;
        align-items: center;
        margin: 10px 0; }
        .test-container .test-box .test-form .answer label {
          margin-bottom: unset;
          margin-left: 10px; }
    .test-container .test-box .d-test {
      font-family: 'Conv_bpg_arial_2009'; }
      .test-container .test-box .d-test .d-answer {
        background: #FFF4F5;
        padding: 15px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        border-radius: 2px; }
        .test-container .test-box .d-test .d-answer img {
          width: 16px;
          height: 16px;
          margin-right: 20px; }
      .test-container .test-box .d-test .d-info {
        padding: 15px 15px 15px 0;
        display: flex;
        align-items: center; }
        .test-container .test-box .d-test .d-info img {
          border: 1px solid #EBEBEB;
          border-radius: 50%;
          padding: 6px;
          width: 35px;
          height: 35px;
          margin-right: 20px; }

@media only screen and (max-width: 992px) {
  footer .f-container {
    flex-direction: column;
    width: 90%;
    padding: 45px 0 0; }
    footer .f-container .r-footer {
      width: 100%;
      max-width: unset;
      margin-bottom: 50px; }
      footer .f-container .r-footer ul {
        padding-left: 15px; }
    footer .f-container .c-footer, footer .f-container .l-footer {
      display: none; }
  footer .footer-bottom {
    flex-direction: column;
    width: 100%;
    padding: 20px; }
  footer .social-links {
    padding: 20px;
    text-align: unset;
    margin-top: unset; }
    footer .social-links ul {
      justify-content: unset; }

  #nav-icon1 {
    display: block;
    margin: 0;
    width: 35px; }
    #nav-icon1 span {
      height: 2px; }
      #nav-icon1 span:nth-child(1) {
        top: 5px; }
      #nav-icon1 span:nth-child(2) {
        top: 17px; }
      #nav-icon1 span:nth-child(3) {
        top: 29px; }

  .main-logo svg {
    height: 40px; }

  header {
    flex-direction: row-reverse; }
    header .header-active {
      pointer-events: unset !important;
      opacity: 0.9 !important; }
    header .header-left {
      position: absolute;
      top: 242px;
      width: 100%;
      background: black;
      opacity: 0;
      padding: 0;
      left: 0;
      padding-bottom: 30px;
      transition: .4s;
      pointer-events: none; }
      header .header-left ul {
        flex-direction: column; }
    header .header-right {
      pointer-events: none;
      position: absolute;
      top: 100px;
      width: 100%;
      background: black;
      opacity: 0;
      left: 0;
      padding: 30px 0;
      transition: .4s; }
      header .header-right ul {
        flex-direction: column-reverse; }

  .main-header {
    box-shadow: 0px -4px 15px #6e6e6e; }
    .main-header .header-active {
      pointer-events: unset !important;
      opacity: 0.9 !important; }
    .main-header #nav-icon1 span {
      background: #57A3C2; }
    .main-header .header-active {
      pointer-events: unset !important;
      opacity: 1 !important; }
    .main-header .header-left {
      background: white;
      top: 262px;
      z-index: 800;
      box-shadow: 0px -4px 15px #6e6e6e; }
      .main-header .header-left ul li {
        width: 90%;
        text-align: center; }
        .main-header .header-left ul li a {
          opacity: 1;
          justify-content: center; }
      .main-header .header-left ul li:not(:last-child) {
        border-bottom: 1px solid #DFDFDF; }
      .main-header .header-left .active a {
        color: #57A3C2; }
    .main-header .header-right {
      background: white;
      z-index: 800; }
      .main-header .header-right .reg-button {
        margin-right: unset;
        border: unset;
        margin-top: 20px; }
        .main-header .header-right .reg-button a {
          color: #2C3E50; }

  .registration, .auth-form, .password-restore {
    width: 95%;
    left: 0;
    top: 30px;
    margin: 100px 10px 10px; }

  .main-container .banner-text .banner-title {
    font-size: 32px;
    padding: 0px 10px; }
  .main-container .banner-text .banner-buttons {
    flex-direction: column; }
    .main-container .banner-text .banner-buttons a {
      width: 70%;
      justify-content: center;
      margin: 5px auto; }
  .main-container .banner {
    padding: 10px 10px 50px; }
    .main-container .banner .main-title {
      font-size: 24px; }
  .main-container .slider-container .main-img {
    object-fit: cover; }
  .main-container .main-text {
    width: 90%; }
    .main-container .main-text .main-title {
      font-size: 24px;
      padding: 10px; }
  .main-container .category-container {
    display: none; }
  .main-container .category-slider {
    display: block;
    width: 100%; }
    .main-container .category-slider .slick-dots {
      bottom: -30px; }
      .main-container .category-slider .slick-dots li button:before {
        color: #6E6E6E; }
      .main-container .category-slider .slick-dots li.slick-active button:before {
        color: #003E92;
        border: 1px solid #003E92;
        display: flex;
        align-items: center;
        justify-content: center; }
  .main-container .course-section {
    margin-top: 70px;
    flex-direction: column;
    padding: 0; }
    .main-container .course-section .main-img {
      width: 100%; }
    .main-container .course-section .describe {
      width: 100%; }
      .main-container .course-section .describe .main-title {
        font-size: 24px; }
      .main-container .course-section .describe .course-button {
        text-align: unset;
        padding: 40px 0 20px; }
        .main-container .course-section .describe .course-button a {
          padding: 10px 10px 10px 0; }
  .main-container .video-section {
    padding: 30px 10px; }
    .main-container .video-section .common-title {
      padding: 10px; }
    .main-container .video-section .slick-prev, .main-container .video-section .slick-next {
      top: -28px; }
  .main-container .review-section {
    padding: 10px 20px 60px; }
    .main-container .review-section .review-slide {
      flex-direction: column;
      position: relative; }
      .main-container .review-section .review-slide .r-name {
        position: absolute;
        bottom: -50px;
        text-align: center; }
    .main-container .review-section li button:before {
      color: #6E6E6E;
      display: flex;
      align-items: center;
      justify-content: center; }
    .main-container .review-section .slick-dots {
      bottom: 10px; }
      .main-container .review-section .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #003E92;
        border: 1px solid #003E92;
        font-size: 22px;
        border-radius: 50%; }

  .about-container {
    width: 95% !important; }
    .about-container .about-us {
      flex-direction: column; }
      .about-container .about-us .def-text, .about-container .about-us .about-slider {
        width: 100%;
        padding-right: unset; }
    .about-container .donor-slider {
      width: 95%;
      margin: 0 auto; }
    .about-container .dropdown {
      width: 100%; }
      .about-container .dropdown .dropdown-box .title {
        padding: 0 15px; }
      .about-container .dropdown .dropdown-text {
        padding: 15px; }

  .about-banner .text {
    width: 100%; }

  .banner-text .banner-title {
    font-size: 32px;
    color: white; }

  .course-container {
    width: 95%; }
    .course-container .course-page-top {
      top: -450px; }
      .course-container .course-page-top .page-top-text .text {
        width: 100%; }
      .course-container .course-page-top .button {
        margin-top: 20px; }
      .course-container .course-page-top .cert-link {
        flex-direction: column;
        align-items: unset; }
        .course-container .course-page-top .cert-link .c-link {
          margin: 10px 0 25px; }
      .course-container .course-page-top .page-top-text {
        flex-direction: column; }
        .course-container .course-page-top .page-top-text .button a {
          width: 100%;
          text-align: center;
          padding: 25px 15px; }
    .course-container .nav-tabs {
      width: 100%; }
      .course-container .nav-tabs .nav-item .nav-link {
        font-size: 18px !important;
        border-bottom: 4px solid transparent; }
      .course-container .nav-tabs .nav-item .active {
        border-bottom: 4px solid #2C3E50 !important; }
    .course-container .tab-content {
      width: 100%; }
      .course-container .tab-content .tab-pane {
        padding: 0 10px; }
      .course-container .tab-content .t-name h2 {
        font-size: 20px !important; }
      .course-container .tab-content .tab-section {
        padding: 20px !important; }
    .course-container .category-text .cat-number {
      display: none; }
    .course-container .d-flex {
      flex-direction: column; }
      .course-container .d-flex .course-box {
        width: 100%; }
    .course-container .search-video-section .search-video-container {
      flex-direction: column; }
      .course-container .search-video-section .search-video-container .video-box {
        width: 100%; }

  .cert-page-container .cert-page-box {
    width: 90%;
    margin: 0 auto; }
    .cert-page-container .cert-page-box .big-title {
      font-size: 25px;
      padding: 30px 10px 0; }
    .cert-page-container .cert-page-box .cert-info {
      padding: 20px 10px; }
      .cert-page-container .cert-page-box .cert-info .cert-title {
        font-size: 12px;
        text-align: center;
        padding-bottom: 10px; }
    .cert-page-container .cert-page-box .bottom {
      font-size: 12px; }
      .cert-page-container .cert-page-box .bottom .b-date {
        margin-right: 10px; }
      .cert-page-container .cert-page-box .bottom .b-name {
        margin-left: 10px; }

  .certificate-container .cert-box {
    width: 90%; }
    .certificate-container .cert-box .d-flex .cert-img img {
      width: 100%;
      overflow: hidden; }
    .certificate-container .cert-box .d-flex .cert-info {
      padding: 20px 0; }
      .certificate-container .cert-box .d-flex .cert-info span {
        margin: 10px 0; }

  .b-banner {
    height: 100vh; }

  .course-banner .blue-bg {
    height: 100vh; }
  .course-banner .banner-text {
    top: 20%; }
    .course-banner .banner-text .search-container {
      width: 90%; }
      .course-banner .banner-text .search-container .search-form {
        flex-direction: column;
        align-items: unset; }
        .course-banner .banner-text .search-container .search-form .filter {
          padding: 20px;
          border-bottom: 1px solid #E2E2E2; }
        .course-banner .banner-text .search-container .search-form .search-input {
          width: 100%;
          flex-direction: column; }
          .course-banner .banner-text .search-container .search-form .search-input input {
            padding: 20px;
            width: 100%;
            border-left: unset;
            border-bottom: 1px solid #E2E2E2;
            margin-bottom: 10px; }

  .course-page-b .course-page-slider {
    width: 95%; }
    .course-page-b .course-page-slider .course-box img {
      width: 100%;
      height: unset; }
    .course-page-b .course-page-slider .cert-link a img {
      width: 20px; }
  .course-page-b .common-title {
    width: 95%; }
  .course-page-b .finished-courses {
    width: 95%;
    flex-direction: column; }
    .course-page-b .finished-courses .course-box {
      width: 100%; }

  .user-page .user-container {
    width: 95%;
    flex-direction: column; }
    .user-page .user-container .avatar-upload {
      width: 100%;
      margin: 0 0 20px; }
    .user-page .user-container .user-form {
      width: 100%;
      padding: unset; }
      .user-page .user-container .user-form .d-flex {
        flex-direction: column; }
        .user-page .user-container .user-form .d-flex .field, .user-page .user-container .user-form .d-flex .form-select {
          width: 100%; }
      .user-page .user-container .user-form .change-button {
        width: 100%; } }
@media only screen and (max-width: 576px) {
  .course-container .nav-tabs {
    width: 100%;
    flex-direction: column; }

  .course-container .tab-content .tab-right .t-section img {
    width: 100px;
    height: 100px; }

  .course-container .tab-content .tab-right .t-section .t-name {
    margin: 0 0 10px; } }

/*# sourceMappingURL=main.css.map */
