@media only screen and (max-width: 992px) {
    footer{
        .f-container{
            flex-direction: column;
            width: 90%;
            padding: 45px 0 0;

             .r-footer{
                width: 100%;
                max-width: unset;
                margin-bottom: 50px;

                ul{
                    padding-left: 15px;
                }
            }

            .c-footer, .l-footer{
                display: none;
            }

        }


        .footer-bottom{
            flex-direction: column;
            width: 100%;
            padding: 20px;
        }

        .social-links{
            padding: 20px;
            text-align: unset;
            margin-top: unset;

            ul{
                justify-content: unset;
            }
            
        }
    }




    .course-page-container{
        flex-direction: column-reverse;

        .tabcontent{
            width: 100%;
            padding: 50px 20px;

            form{
                flex-direction: column;

                .next{
                    margin-top: 25px;
                    margin-left: unset !important;
                }

                a{
                    padding: 15px 100px 12px !important;
                }
            }


            .about-slider{
                height: unset !important;
            }
        }

        .tab{
            width:100%;
            border-right: unset;
        }
    }


    .video-page-container{
        width: 100%;

      
    }





    .test-container{

        .fixed-answer{

            width: 70px;
            height: 70px;
            right: 10px;
            top: 110px;

            .bold{
                font-size: 22px;
            }

            span{
                font-size: 14px;
            }
        }

        .test-box{
            .point{
                top: 49px;
                right:20px;
            }
        }

        .test-result{

            .finish-test{
                padding: 50px 0px 120px;
                width: 100%;

                a{
                    padding: 20px;
                }
            }

            .test-button{
                flex-direction: column;
                line-height: 70px;

                .continue{
                    padding: 20px 47px;
                }
            }
        }
        
        .title{
            .t-bottom{
                width: 100%;
            }
        }

        .test-box{
            width: 100%;
            margin: 20px auto;
            padding: unset;
        }
    }

    #nav-icon1 {
        display: block;
        margin: 0;
        width: 35px;

        span{
            height: 2px;

            &:nth-child(1) {
                top: 5px;
            }
    
            &:nth-child(2) {
                top: 17px;
            }
    
            &:nth-child(3) {
                top: 29px;
            }
        }

     
    }

    .main-logo{

        svg{
            height: 40px;
        }
    }

    header{
        flex-direction: row-reverse;


       .header-right ul .reg-button a {
            color: #2C3E50;
            padding: 8px 18px;
            display: flex;
            align-items: center;
            font-family: 'BPG WEB 001';
        }

        .header-active{
            pointer-events: unset !important;
            opacity: 1!important;
        }


        .header-left{
            position: absolute;
            top: 242px;
            width: 100%;
            background: white;
            opacity: 0;
            padding: 0;
            left: 0;
            padding-bottom: 30px;
            transition: .4s;
            pointer-events: none;

          

            ul{
                flex-direction: column;

                li{
                    border-bottom: 1px solid #DFDFDF;
                    width: 90%;
                    display: flex;
                    justify-content: center;
                    
                    
                    a{
                        color: #2C3E50 !important;
                    }

               
                }

                li:last-child{
                    border-bottom: unset !important;
                }

                
            }
        }

        .header-right{
            pointer-events: none;
            position: absolute;
            top: 100px;
            width: 100%;
            background: white;
            opacity: 0;
            left: 0;
            padding: 30px 0;
            transition: .4s;
          

            ul{
                flex-direction: column-reverse;
            }
        }

    }

    .main-header{
        box-shadow:0px -4px 15px #6e6e6e;


        .header-active{
            pointer-events: unset !important;
            opacity: 0.9 !important;
        }


        #nav-icon1 span{
            background: #57A3C2;
        }

        .header-active {
            pointer-events: unset !important;
            opacity: 1 !important;
        }
        .header-left{
            background: white;
            top: 262px;
            z-index: 800;
            box-shadow:0px -4px 15px #6e6e6e;

            ul li{
                width: 90%;
                text-align: center;
                a{
                    opacity: 1;
                    justify-content: center;
                }
            } 

            ul li:not(:last-child){
                border-bottom: 1px solid #DFDFDF;
            }

            .active a{
                color: #57A3C2;
            }

        }

        .header-right{
         background:white;
         z-index: 800;
         
            .reg-button{
                margin-right: unset;
                border: unset;
                margin-top: 20px;

                a{
                    color: #2C3E50;
                }
            }
        }
    }


    .registration, .auth-form, .password-restore{
        width: 95%;
        left: 0;
        top: 30px;
        margin: 100px 10px 10px;
    }


    .main-container{

        .banner-text{

            .banner-title {
                font-size: 32px;
                padding: 0px 10px;
            }

            .banner-buttons {
                flex-direction: column;

                a {
                   
                    width: 70%;
                    justify-content: center;
                    margin: 5px auto;
                }
            }
        }

        .banner{
            padding: 10px 63px 51px;

            .main-title{
                font-size: 24px;
            }
        }

        .slider-container{

            .main-img{
                object-fit: cover;
            }


        }

        .main-text{
            width:90%;

            .main-title{
                font-size: 24px;
                padding:10px;
            }
        }

        .category-container{
            display: none;
        }

        .category-slider{
            display: block;
            width: 100%;

            .slick-dots{
                bottom: -30px;

                li button:before{
                    color:#6E6E6E ;
                }

                li.slick-active button:before {
                    color:#003E92 ;
                    border: 1px solid #003E92;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .course-section{
            margin-top: 70px;
            flex-direction: column;
            padding: 0;

            .main-img{
                width: 100%;
            }

            .describe{
                width: 100%;

                .main-title{
                font-size: 24px;
                }

                .course-button {
                    text-align: unset;
                    padding: 40px 0 20px;

                    a{
                        padding: 10px 10px 10px 0;
                    }
                }
            }

            
        }

        .video-section{
            padding: 30px 10px;

            .common-title {
                padding: 10px;
            }

            .slick-prev, .slick-next {
                top: -28px;
               
            }
        }

       

        .review-section {
            padding:10px 20px 60px;
            
            .review-slide{
                flex-direction: column;
                position: relative;


                .r-name{
                    position: absolute;
                    bottom: -50px;
                    text-align: center;
                }


            }

            li button:before{
                color:#6E6E6E ;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .slick-dots{
                bottom: 10px;

               li.slick-active button:before {
                opacity: 1;
                color:#003E92 ;
                border: 1px solid #003E92;
                font-size: 22px;
                border-radius: 50%;
                } 
            } 
        }

    }


    .about-container {
        width: 95% !important;

        .about-us{
            flex-direction: column;

            .def-text, .about-slider{
                width: 100%;
                padding-right: unset;
    
            }
        }

        .donor-slider{
            width:95%;
            margin: 0 auto;
        }

        .dropdown {
            width: 100%;

            .dropdown-box{

                .title{
                    padding: 0 15px;
                }

            }

            .dropdown-text {
                padding: 15px;
            }

        }
      
    }

    .about-banner .text {
        width: 100%;
    }

    .banner-text{

        .banner-title {
            font-size: 32px;
            color: white;
        }
    }


    .course-container{
        width: 95%;


        .course-page-top{
            top: -450px;

            .page-top-text .text {
                width: 100%;
          
            }


            .button{
                margin-top: 20px;
            }

            .cert-link {
                flex-direction: column;
                align-items: unset;

                .c-link {
                    margin: 10px 0 25px;
                }
            }

            .page-top-text{
                flex-direction: column;

                .button a{
                    width: 100%;
                    text-align: center;
                    padding: 25px 15px;
                   
                }
            }
        }

        .nav-tabs{
            width: 100%;

            .nav-item{
                .nav-link {
                font-size: 18px !important;
                border-bottom: 4px solid transparent;
            } 

            .active{
                border-bottom: 4px solid #2C3E50 !important;
            }
            }

           
        }

        .tab-content {
            width: 100%;

            .tab-pane {
                padding: 0 10px;
            }


            .t-name h2{
                font-size: 20px !important;
            }

            .tab-section {
                padding: 20px !important;
            }
        }


        .category-text{

            .cat-number{
                display: none;
            }
        }

        .d-flex{
            flex-direction: column;

            .course-box{
                width: 100%;
            }
        }

        .search-video-section{

            .search-video-container{
                flex-direction: column;

                .video-box{
                    width: 100%;
                    
                }
            }
        }
    }


    .cert-page-container .cert-page-box {
         
        width: 90%;
        margin: 0 auto;

        .big-title {
            font-size: 25px;
            padding: 30px 10px 0;
        }

        .cert-info{
            padding: 20px 10px;

            .cert-title{
                font-size: 12px;
                text-align: center;
                padding-bottom: 10px;
            }
        }

        .bottom{
            font-size: 12px;
            .b-date{
                margin-right: 10px;
            };

            .b-name{
                margin-left: 10px;
            }
        }
    }
    .certificate-container{
       .cert-box{
        width: 90%;

        .d-flex{
            flex-direction: column;

            .cert-img img{
                width: 100%;
                overflow: hidden;
            }

            .cert-info {
                padding: 20px 0;
                text-align: unset;

                span{           
                   margin: 10px 0;
                }
            }
        }
       }
    }

    .b-banner{
        height: 100vh;
    }

    .course-banner{

        .blue-bg{
            height: 100vh;
        }

        .banner-text{
            top: 20%;

            .search-container{
                width: 90%;

                .search-form{
                    flex-direction: column;
                    align-items: unset;

                    .filter{
                        padding:20px;
                        border-bottom: 1px solid #E2E2E2;

                    }

                    .search-input {
                    
                        width: 100%;
                        flex-direction: column;

                        input {
                            padding: 20px;  
                            width: 100%;
                            border-left: unset;
                            border-bottom: 1px solid #E2E2E2;
                            margin-bottom: 10px;
                        }
                    }

                 
                }
            }
        }
        
    }


    .course-page-b{

        .course-page-slider{
            width:95%;


            .course-box img {
                width:100%;
                height: unset;
            }

            .cert-link a img{
                width: 20px;
            }

        }
        .common-title{
            width: 95%;
        }

        .finished-courses {
            width: 95%;
            flex-direction: column;

            .course-box{
                width: 100%;
            }
        }
        


    }


    .user-page{

        .user-container{
            width: 95%;
            flex-direction: column;

            .avatar-upload {
                width: 100%;
                margin: 0 0 20px;
            }

            .user-form {
                width: 100%;
                padding: unset;  

                .d-flex{
                    flex-direction: column;

                    .field, .form-select {
                        width: 100%;
                    }

                }

                
                .change-button {
                    width: 100%;
                }
            }

        }
    }


}



@media only screen and (max-width: 576px) {
    .course-container .nav-tabs {
        width: 100%;
        flex-direction: column;
    }


    .course-container .tab-content .tab-right .t-section img {
        width: 100px;
        height: 100px;
      
    }

    .course-container .tab-content .tab-right .t-section .t-name {
        margin: 0 0 10px;
    }
}


