/* Basic Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    list-style-type:none;
     border: none;
     text-decoration: none;

}

*:focus {
    outline: none;
}

ul,h1,h2,h3,h4 {
    margin: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}


.d-button{
    background:#57A3C2;
    border-radius:10px;
    color: white;
    padding: 8px 18px;
    transition: .3s;

    &:hover{
        background: #F8C934;
        color:white;
    }
}

.t-button{
    border-radius:10px;
    color: white;
    padding: 7px 18px;
    border: 1px solid #FFFFFF;
    transition: .3s;

    
    &:hover{
        background: #F8C934;
        color:white;
      
    }
}

.c-button{
    background: #F8C934;
    color: white;
    padding: 7px 18px;
    transition: .3s;
    border-radius:10px;
}


header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    z-index: 999;


    .header-left, .header-right{
        ul{
            display: flex;
            align-items:center;


            li{
                display: flex;
                align-items: center;

                a{
                    color: white;
                    padding: 8px 18px;
                }
            }

           
        }
    }

}

.main-header{
    background: transparent !important;
}

.main-title{
    font-size: 32px;
    color:#2C3E50 ;
    text-align: center;
    padding: 30px 20px;
}


footer{
    background: #5A5A5A;


    
    .footer-title{
        font-size: 22px;
        padding-bottom: 20px;
        color: white;
    }

    .f-container{
        width: 80%;
        padding: 45px 15px;
        margin: 0 auto;
        color: white;
        display: flex;
        justify-content: space-between;

        .l-footer, .c-footer, .r-footer{
            max-width: 30%;

            .adress{
                display: flex;
                flex-direction: column;
                padding-bottom: 10px;
            }
        }


        a{
            color: white;
        }

        li{
            list-style-type: disc;
            padding-bottom: 10px;
        }
    }

    .social-links{
        text-align: center;
        margin-top: 20px;

        ul{
            display: flex;
            justify-content: center;
            align-items: center;

            li{
                

                a{
                    padding: 10px;
                }
                
            }
        }
    }

    .footer-bottom{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        padding: 40px 0;
        color: white;

        a{
            color: white;
        }
    }
}

// body{
//     font-family: 'Conv_bpg-web-001-caps-webfont';
// }