/* Basic Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    list-style-type:none;
     border: none;
     text-decoration: none;

}

*:focus {
    outline: none;
}

ul,h1,h2,h3,h4 {
    margin: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
};


/* mobile-menu-icon  */
#nav-icon1 {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
}
  
#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
  
    #nav-icon1 span:nth-child(1) {
        top: 0px;
    }
    
    #nav-icon1 span:nth-child(2) {
    top: 18px;
    }

    #nav-icon1 span:nth-child(3) {
    top: 36px;
    }

    #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }

    #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }

    #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    };




.d-button{
    background:#57A3C2;
    border-radius:10px;
    color: white;
    padding: 7px;
    transition: .3s;

    &:hover{
        background: #F8C934;
        color:white;
    }
}


.bg-container{
    background-color: #F2F2F2;
}

.pagination{
    justify-content: center;
    padding: 20px;

    .active{
        border-bottom: 2px solid #2980B9;
        color: #2980B9;
    }

    a{
        color: #2C3E50;
        background: transparent;
        font-size: 16px;
        padding: 8px 16px 5px;
        font-family: 'BPG WEB 001';
        transition: .3s;
       


        &:hover, .active{
            border-bottom: 2px solid #2980B9;
            color: #2980B9;

        }
    }
}

.t-button{
    border-radius:10px;
    color: white;
    padding: 7px;
    border: 1px solid #FFFFFF;
    transition: .3s;

    
    &:hover{
        background: #F8C934;
        color:white;
      
    }
}

.c-button{
    background: #F8C934;
    color: white;
    padding: 15px 18px;
    transition: .3s;
    border-radius: 6px;
    font-family: 'Conv_bpg-web-001-caps-webfont';
}


.slider-bg {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    z-index: 79;
}


.center{
    text-align: center;
}

.rotate{
    transform: rotate(180deg);
    transition: .3s;
}



.registration, .common-form {
    display: none;
    font-family: 'Conv_bpg_arial_2009';
    border-radius: 10px;
    margin-top: 100px;
    width: 40%;
    background-color: #FFFFFF;
    color: #2C3E50;
    position: absolute;
    top: 20%;
    left: 30%;
    padding: 30px 5%;
    z-index: 900;
    box-shadow: 0px 0px 4px 5px;

    .auth-info{
        padding-bottom: 10px;
    }


    button{
        width: 100%;
        padding: 10px;
        border-radius: 7px;
        color: white;
        background: #57A3C2;
        outline: navajowhite;
        margin: 10px auto;
        cursor:pointer;
    }

    .transparent{
        color: #57A3C2 !important;
        background: #FFFFFF;
        border: 1px solid #57A3C2;
    }

    
    .close{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .form-checkbox{
        a{
            color: #2C3E50;
            text-decoration: underline;
        }
    }


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    .rotate{
        transform: rotate(180deg);
    }
    
   .form-select{
        position: relative;

       

        select{
            text-transform: none;
            padding: 10px;
            border: 1px solid #BBC8D3;
            width: 100%;
            color: #777;
            -webkit-appearance: none;
            -moz-appearance: none;
            margin-bottom: 15px;
        }

        .dropdown-img{
            position: absolute;
            top: 12px;
            right: 15px;

            img{
               transition: .3s ease-in-out;
            }
        }


   }

    .label-before {
        line-height: 20px;
        font-size: 12px;
        top: -10px;
        background: #fff;
        padding: 0 6px;
        left: 9px;
    }
    
    .field {
        position: relative;
        height: 42px;
        margin-bottom: 15px;
        label::before {
        content: attr(title);
        position: absolute;
        top: 2px;
        left: 15px;
        line-height: 40px;
        font-size: 14px;
        color: #777;
        transition: 300ms all;
        }

        input {
        width: 100%;
        line-height: 40px;
        padding: 0 15px;
        box-sizing: border-box;
        font-size: 14px;
        color: #2C3E50;
        border: 1px solid #BBC8D3;
        border-radius: 3px;
          
            &:valid + label::before {
                @extend .label-before;
                content: attr(data-title);
            }
            &:focus + label::before {
                @extend .label-before;
               
            }
        }
    }


    .pas-restore{
        margin-bottom: 10px;

        a{
            color: #2980B9;
        }
    }


    .title{
        font-size: 20px;
        text-align: center;
        padding: 10px 0 20px;
	    font-family: 'Conv_bpg-web-001-caps-webfont';

    }

    .d-none{
       padding-bottom: 10px;
    }
}

.password-restore{
    display:none;
}





header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    z-index: 200;
    font-family: 'Conv_bpg-web-001-caps-webfont';

   
    .main-logo img{
        width: 150px;
        height:60px
    }


    .header-right{
        position: relative;

        .user{
            display: flex;
            background: #57A3C2;
            padding: 10px 15px;
            border-radius: 10px;
            position: absolute;
            top: -25px;
            right: 6px;
   

            .user-img{
                margin-top: 6px;

                img{
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                }
            }

            ul{
                display: flex;
                flex-direction: column;
                

                .user-name{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }

            }

            .hide{
                height: 35px;
                overflow: hidden;
            }
        }
    }

    .header-left, .header-right{
        ul{
            display: flex;
            align-items:center;


            li{

                a{
                    color: white;
                    padding: 8px 18px;
                    display: flex;
                    align-items: center;

                    span{
                        margin-top: 3px;
                    }
                }
            }

           
        }
    }

}


.video-hover{
    display: none;
    position: absolute;
    top: 65px;
    left: calc(50% - 28px);
    pointer-events: none;
    border: 7px solid rgba(87,163,174, 0.5);
    border-radius: 50%;
    transition: .3s;
    opacity: .8;

    img{
        padding: 7px;
        background:rgba(87,163,174, 0.9) ;
        border-radius: 50%;
    }
}

.video-hover:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 10px solid rgba(87,163,174, 0.9);
    background:rgba(87,163,174, 0.9) ;
    border-radius: 50%;
}

.main-header .main-logo img{
    height:40px !important;
}

.reg-button{
    margin-right: 10px;
    border-radius: 10px;
    transition: .3s;
    font-family: 'Conv_bpg-web-001-caps-webfont';

    &:hover{
        background: #F8C934;
        border: unset;
    }
}


.main-header{
    position: unset;
    box-shadow: 0px -4px 15px #6e6e6e;

    .header-left ul li a, header .header-right ul li a {
        color: #2C3E50;
        padding: 8px 18px;
        display: flex;
        align-items: center;
        opacity: .6;
    }

    .active a{
        opacity: 1 !important;
    }

    .reg-button{
        color: white;
        border: 1px solid #57A3C2;
        border-radius: 11px;
        margin-right: 10px;
        transition: .3s;
        a{
          color: #57A3C2;    

          &:hover{
            color:white !important;
          }
        }

        &:hover{
            background: #F8C934;
            border: 1px solid transparent;
        }

      
    }
}

.avatar-upload {
    position: relative;
 
    .avatar-edit {
        position: absolute;
        z-index: 1;
        bottom: 80px;

        input {
            display: none;
            + label {
           
              
                margin-bottom: 0;
                border-radius: 10px;
                background: #57A3C2;
                border: 1px solid transparent;
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                color: white;
                padding: 10px 40px;
                font-family: 'Conv_bpg_arial_2009';
              
                &:after {
                    content: "";
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .avatar-preview {
        width: 130px;
        height: 130px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}


.main-title{
    font-size: 32px;
    color:#2C3E50 ;
    text-align: center;
    padding: 30px 20px;
    font-family: 'Conv_bpg-web-001-caps-webfont';
}

.common-title{
    font-size:28px;
    padding: 10px 0px;
    color: #2C3E50;
    font-family: 'Conv_bpg-web-001-caps-webfont';

}

.banner-text{   
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 99;
    font-family: 'Conv_bpg-web-001-caps-webfont';

   

    .banner-title{
        font-size: 42px;
        color: white;
    }

    .banner-buttons{
        display: flex;
        justify-content: center;
        margin-top: 15px;
       

        a{
            margin: 5px;
            display: flex;
            align-items: center;
        }
    }
}

.page-404{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 35px;

    span{
        color: #475569; 
        font-size: 24px;
        font-family: 'Conv_bpg_arial_2009';
    }

    .bold{
        font-weight: bold;
        font-size: 100px;
        color: #51A2BE;
        font-family: 'Conv_bpg-web-001-caps-webfont';
    }


    .link{
        margin-top: 30px;

        a{
            color: white;
            padding: 8px 18px;
            display: flex;
            align-items: center;   
            background: #57A3C2;
            border-radius: 10px;
            transition: .3s;
            font-family: 'Conv_bpg-web-001-caps-webfont';

            &:hover {
                background: #F8C934;
                color: white;
            }
    
        }
    }

    

}

.video-container, .search-video-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .video-box{      
        border-radius: 10px;
        overflow: hidden;
        background-color: white;
        margin: 5px;
        position: relative;

        video{
            width:100%;
        }

        .video-title{
            font-size: 20px;
            padding: 8px 0;

            a{
                color: #2C3E50;   
                font-family: 'Conv_bpg-web-001-caps-webfont';
                padding: 7px 10px 3px;
                transition: .3s;

                &:hover{
                    color:#57A3C2;
                }
            }
           

        }

        .video-tags{
            line-height: 30px;
            padding: 0 10px 15px;

            a{
                color: #2C3E50;
                border: 1px solid #2C3E503D;
                border-radius: 5px;
                font-size: 14px;
                padding: 3px;
                transition: .3s;

                &:hover{
                    border: 1px solid #2C3E50;
                }
            }
        }

    }
}

.video-tags{
    line-height: 30px;
    padding: 0 10px 15px;

    a{
        color: #2C3E50;
        border: 1px solid #2C3E503D;
        border-radius: 5px;
        font-size: 14px;
        padding:5px;
        transition: .3s;
        font-family: 'Conv_bpg_arial_2009';

        &:hover{
            border: 1px solid #2C3E50;
        }
    }
}



.video-box{
    


   &:hover{
        .video-hover{
            display: block;
        }
    }

}

.search-video-container{
    justify-content: unset;
    
    .video-box{
        width: 32%;
        position: relative;
        transition: .4s;


       &:hover{
            .video-hover{
                display: block;
            }
        }

      
    }
}

.banner{
    background:#57A3C2;
    padding: 40px 30px 50px;
    text-align: center;
    

    .main-title{
        color: white;
        margin: 0 auto;
        font-family: 'Conv_bpg-web-001-caps-webfont';

    }
}

.def-text{
    font-family: 'Conv_bpg_arial_2009';
    color: #2C3E50;
    font-size: 16px;
}

.slick-dots{
    bottom: 30px;
    z-index: 111;

    li{
        button{
          

            &:before{
                color: white;
                font-size: 23px;
                opacity: 1;
            }
        }

    }
}


.slick-dots li.slick-active button:before{
    opacity: 1;
    color: white;
    font-size: 22px;
    border: 1px solid white;
    border-radius: 50%;
}


footer{
    background: #5A5A5A;
    font-family: 'Conv_bpg_arial_2009';


    
    .footer-title{
        font-size: 22px;
        padding-bottom: 20px;
        color: white;
        font-family: 'Conv_bpg-web-001-caps-webfont';
    }

    .f-container{
        width: 80%;
        padding: 45px 0;
        margin: 0 auto;
        color: white;
        display: flex;
        justify-content: space-between;

        .l-footer, .c-footer, .r-footer{
            max-width: 30%;

            .adress{
                display: flex;
                flex-direction: column;
                padding-bottom: 10px;
            }
        }

        .l-footer div:last-child {
            margin-top: 20px;
        }

        .r-footer>div:last-child{
            border-left: 1px solid white;
            padding-left: 30px;
        }

        


        a{
            color: white;
        }

        li{
            list-style-type: disc;
            padding-bottom: 10px;
        }
    }

    .social-links{
        text-align: center;
        margin-top: 20px;

        ul{
            display: flex;
            justify-content: center;
            align-items: center;

            li{
                

                a{
                    padding: 15px;
                }
                
            }
        }
    }

    

    .footer-bottom{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        padding: 40px 0;
        color: white;

        a{
            color: white;
        }
    }
}




