@font-face {
	font-family: 'Conv_bpg-web-001-caps-webfont';
	src: url('../../fonts/bpg-web-001-caps-webfont.eot');
	src: local('☺'), url('../../fonts/bpg-web-001-caps-webfont.woff') format('woff'), url('fonts/bpg-web-001-caps-webfont.ttf') format('truetype'), url('fonts/bpg-web-001-caps-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}





