.certificate-container{
    padding-bottom: 50px;

    .title{
        color: #2C3E50;
        font-size: 32px;
    	font-family: 'Conv_bpg-web-001-caps-webfont';
        text-align: center;
        padding: 50px 20px;

    }

    .cert-box{
        width: 80%;
        margin: 0 auto ;
        padding-bottom: 30px;


        .cert-info{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 30px 20px;
            text-align: center;

            .cert-title{
                color:#2C3E50;
                font-size: 22px;
    	        font-family: 'Conv_bpg-web-001-caps-webfont';
                padding-bottom: 20px;

            }

            span{
                color:#2C3E50;
                font-family: 'BPG WEB 001';
                overflow: hidden;
            }

          
        }

    }

   
}

.cert-page-container{
    padding-bottom: 50px;

    .cert-page-box{
        border: 1px solid #707070;
        border-radius: 7px;
        background-color: white;
        width: 50%;
        margin: 20px auto;

        .bottom{
            justify-content: space-between;
            font-family: 'BPG WEB 001';
            margin: 80px 0 30px;

            .cert-title{
                text-align: center;
                padding-bottom: 20px;
            }
      
            .b-name{
                color: #2C3E50;
                border-bottom: 1px solid #2C3E50;
                padding:20px 0;
                width: 50%;
                margin-left: 40px;
            }

            .b-date{
                color: #2C3E50;
                border-bottom: 1px solid #2C3E50;
                
                padding: 20px 7px;
                margin-right: 40px;
                
            }
        }

        .big-title{
            font-size: 50px;
            padding: 50px 10px 0;
        }

        .cert-info{
            width: 90%;
            margin: 0 auto;
        }
    }
}

.share-box{
    display: flex;
    align-items: center;

    a{
        background: white;
        padding: 11px;
        display: flex;
        align-items: center;
        border-radius: 5px;
    }

    .course-button{
        color: #57A3C2;
        font-family: 'BPG WEB 001';
        border-radius: 5px;
        border: 1px solid #57A3C2;
        padding: 10px 25px;
        transition: .3s;
        margin-right: 20px;
        font-family: 'Conv_bpg-web-001-caps-webfont';

        svg{
            margin-right: 5px;
            margin-bottom: 5px;
        }

        &:hover{
            color: white;
            background: #57A3C2;

            #Path_412, #Path_413{
                fill: white;
                transition: .3s;
            }
        }
    }
}

.cert-share-box{
    justify-content: center;
    padding: 40px 0 20px;
}

.test-container{
    padding: 50px 15px;

    .title{
      
        text-align: center;


        .main-title{
            padding: 30px 20px 15px;
        }

        .t-bottom{
            margin:0 auto;
            width: 60%;
            text-align: center;

            span{
                color: #2C3E50;
                font-family: 'Conv_bpg_arial_2009';
            }
        }

    }

    .border{
        
        width: 70%;
        margin: 20px auto;
        border: 1px solid;
        padding: 30px 80px;

    }

    .test-box{
        width: 70%;
        margin: 20px auto;
        padding: 30px 80px;

        .test-title{
            font-size: 18px;
            font-family: 'Conv_bpg-web-001-caps-webfont';
            color: #2C3E50;
            text-align: center;
            border-bottom: 1px solid #DCDCDC;
            padding: 20px;
        }

        .test-form{
            font-family: 'Conv_bpg_arial_2009';
            padding-top: 10px;

            .answer{
                display: flex;
                align-items: center;
                margin: 10px 0;

                label{
                    margin-bottom: unset;
                    margin-left: 10px;
                }
            }
        }

        .d-test{
            font-family: 'Conv_bpg_arial_2009';

            .d-answer{
                background: #FFF4F5;
                padding: 15px;
                margin-top: 20px;
              
                display: flex;
                align-items: center;
                border-radius: 2px;

                img{
                    width: 16px;
                    height: 16px;
                    margin-right: 20px;
                }
            }

            .d-info{

                padding: 15px 15px 15px 0;
                display: flex;
                align-items: center;

                img{
                    border:1px solid #EBEBEB;
                    border-radius: 50%;
                    padding: 6px;
                    width: 35px;
                    height: 35px;
                    margin-right: 20px;
                }
            }
        }
    }
}

