.user-page{
    background-color: #F2F2F2 ;
    padding-bottom: 50px;

    .user-container{
        width: 80%;
        margin: 0 auto;
        background: #ffffff;
        display: flex;
        padding: 30px; 

        .avatar-upload{
            width: 40%;
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #BBC8D3;
            padding: 40px 0 140px;
        }


        .user-form{
            width: 60%;
            display: block;
            box-shadow: unset;
            position: unset;
            margin-top: unset;
            padding: 10px;
            // border-bottom: 1px solid #DBE3EB;
            border-radius: unset;

            .d-flex{
                justify-content: space-between;

                .field{
                    width: 49%;
                    margin-bottom: 20px;
                }

                .form-select{
                    width: 49%;

                    select{
                        margin-bottom: 20px;
                    }
                 }
            }

            button{
                background-color: #DBE3EB;
                color:#2C3E50;

            }

            .change-button{
                width: 50%;
                float: right;
                color: white;
                background: #57A3C2;
                transition: .3s;

                &:hover{
                    background: #F8C934;
                    color:white;
                }
            }
        }
    }
}